html
  head
    meta(content='text/html;charset=utf-8', http-equiv='Content-Type')
    meta(content='utf-8', http-equiv='encoding')
    title Sinch VIDEO Sample app
    link(rel='stylesheet', href='stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300', rel='stylesheet', type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/q.js/0.9.2/q.js')
    script(src='javascripts/sinch.min.js')
  body
    .top1
      h1 Video calling
    .container
      #chromeFileWarning.frame.big
        b(style='color: red;') Warning!
        |  Protocol "file" used to load page in Chrome.
        br
        br
        | 			Please avoid loading files directly from disk when developing WebRTC applications using Chrome.
        br
        | 			Chrome disables access to microphone which prevents proper functionality.
        br
        br
        | 			You can allow working with "file:", if you start Chrome with the flag 
        i --allow-file-access-from-files
      .clearfix
      .frame.small
        .inner.loginBox
          h3#login Sign in
          form#userForm
            input#username(placeholder='USERNAME')
            br
            input#password(type='password', placeholder='PASSWORD')
            br
            button#loginUser Login
            button#createUser Create
          #userInfo
            h3
              span#username
            button#logOut Logout
        .inner.takeaways
          h3 Takeaways
          ul
            li Authenticate users and act on success / failures
            li How to create user and login automatically
            li After page load, look for an earlier session and try to start it
            li Place a video web-to-web call
            li Wire up the incoming stream + start/stop ringback tone as needed
            li Receiving a video call
            li Ending a video call
      .frame
        h3 Video Call
        #call
          form#newCall
            input#callUserName(placeholder='Username (alice)')
            br
            button#call Call
            button#hangup Hangup
            button#answer Answer
            audio#ringback(src='ringback.wav', loop='')
            audio#ringtone(src='phone_ring.wav', loop='')
        .clearfix
          br
        video#outgoing(autoplay='', muted='')
        video#incoming(autoplay='')
        
        #callLog
        .error
  script(src='javascripts/VIDEOsample.js')
